<%= simple_form_for(@activity) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :main_photo %>
    <%= f.input :photo_1 %>
    <%# tag input goes here %>
    <%= f.input :tags, collection: Tag.all, input_html: { multiple: true, class: 'multiple-select', style: 'width: 100%' }, include_hidden: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>